<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstComposeProject"
        tools:targetApi="31">
        <!--MyRecyclerViewComposeActivty
        LoginActivity

         MainActivityRecyclerView
              android:name="com.example.firstcomposeproject.login.LoginActivity" //LoginScreen , dashboard, lazy list items
         android:name="com.example.firstcomposeproject.recyclerviewexample.MyRecyclerViewComposeActivty"
         -->
        <activity
            android:theme="@style/Theme.MySplash"
            android:name="com.example.firstcomposeproject.recyclerviewexample.MyRecyclerViewComposeActivty"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity
            android:name="com.example.firstcomposeproject.MainActivity"
            android:screenOrientation="portrait" />-->


    <!--    <activity
            android:name="com.example.firstcomposeproject.DashBoardMainActivity"
            android:screenOrientation="portrait" />-->

        <!--  <activity
              android:name=".MainActivity2_1"
              android:exported="true"
              android:label="@string/app_name"
              android:theme="@style/Theme.FirstComposeProject">
          </activity>
          <activity
              android:name=".MainActivity"
              android:screenOrientation="portrait" />

          <activity
              android:name=".MainActivity2"
              android:screenOrientation="portrait" />

          <activity
              android:name=".MainActivity3"
              android:screenOrientation="portrait" />

          <activity
              android:name=".MainActivity4"
              android:screenOrientation="portrait" />

          <activity
              android:name=".MainActivity5"
              android:screenOrientation="portrait" />
  -->

    </application>

</manifest>